#main_box {
  margin: 0 auto;
  width: 200px;  
}
#login input{
  width: 200px;
  border: 1px solid #666;
  box-shadow: 10px 10px 5px #888;
  -o-box-shadow: 10px 10px 5px #888;
  -khtml-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
}