<div class="box">
  <h1>Currently running</h1>
  <p>
    1 cloud<br />
    2 clusters<br />
    5 servers<br />
  </p>
</div>

<br />

<div class="box">
  <h1>Help</h1>
  <p>
    Cloud - is set of clusters.<br />
    Cluster - is set of servers.<br />
    Server - viz. wikipedia ;)<br />        
  </p>
</div>