development:
  adapter: mysql
  encoding: utf8
  database: simpleclouding_development
  username: root
  password:
  encoding: utf8
  port: 3309

test:
  adapter: mysql
  encoding: utf8
  database: simpleclouding_test
  username: root
  password: 
  encoding: utf8
  port: 3309

production:
  development

cucumber:
  test