<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="Simpleclouding" content="Simpleclouding">
    <title>Simpleclouding</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" >
  </head>
  <body>
    <div id="main_box">
      <%= yield %>
    </div>
  </body>
</html>